.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 15%;
}

.searchBar{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 30px;
    
}

.barSize{
    width: 600px;
    height: 35px;
    border: solid rgba(160, 160, 160, 0.3) 2px;
    border-radius: 15px;
  
}

.searchButton{
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.mainButtons{
    margin-right: 10px;
    background-color: snow;
    border: transparent 1px;
    height: 35px;
}

ul li{
    display: inline;
    padding-right: 10px;
}
a{
    color: rgb(61, 61, 61);
    font-size: 12px;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.navigation{
    float:top;
    margin-left: 80%;
}

.loginButton{
    background-color: #4683ea;
    font-weight: bold;
    color:white;
    border: solid #4683ea;
}


.mainButtons:hover{
    box-shadow:0 0 0 1px #b9b9b9;
}